{% extends 'charity_donation_app/base.html' %}
{% load static %}
{% block content %}
<header class="header--main-page">
      <nav class="container container--70">
        <ul class="nav--actions">
            {% if user.is_authenticated %}
            <li class="logged-user">
            Witaj {{ user.first_name }}
            <ul class="dropdown">
              <li><a href="{% url 'profile' %}">Profil</a></li>
              <li><a href="#">Ustawienia</a></li>
                {% if user.is_superuser %}
              <li><a href="{% url 'admin:index' %}">Panel administracyjny</a> </li>
                {% endif %}
              <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
          </li>
            {% else %}
          <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
          <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
            {% endif %}
        </ul>

        <ul>
          <li><a href="{% url 'index' %}" class="btn btn--without-border active">Start</a></li>
          <li><a href="{% url 'index' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="{% url 'index' %}#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="{% url 'index' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="{% url 'donation' %}" class="btn btn--without-border">Przekaż dary</a></li>
          <li><a href="{% url 'index' %}#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>

      <div class="slogan container container--90">
        <div class="slogan--item">
          <h2>
              Imię: {{ user.first_name }}<br>
              Nazwisko: {{ user.last_name }}<br>
              Email: {{ user.email }}<br>
          </h2>

        </div>
      </div>
    </header>
    <div class="donation-history" align="center">
        <h1>Historia datków</h1><br>
            <table>
                <tr align="center" class="table-header">
                    <td>Worki(60l)</td>
                    <td>Organizacja</td>
                    <td>Kategoria</td>
                    <td>Data</td>
                    <td></td>
                </tr>
                {% for donation in donations %}
                <tr align="center">
                    <td>{{ donation.quantity }}</td>
                    <td>{{ donation.institution.name }}</td>
                    <td>{% for cat in donation.categories.all %}{{ cat.name }} {% endfor %}</td>
                    <td>{{ donation.pick_up_date }}</td>
                {% if donation.is_taken %}
                    <td id="taken">Odebrano</td>
                {% else %}
                    <td id="waiting"><button value="Odebrano" class="archiveBtn">Archiwizuj</button> </td>
                {% endif %}
                </tr>
                {% endfor %}
            </table>
    </div>

{% endblock %}